<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-list>
        <ion-item>
          <h1>Última senha: 230523-SP01</h1>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block">Chamar senha</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list label="Últimas senhas:">
        <ion-item>230523-SP01</ion-item>
        <ion-item>230523-SP01</ion-item>
        <ion-item>230523-SP01</ion-item>
        <ion-item>230523-SP01</ion-item>
        <ion-item>230523-SP01</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
