<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-list>
        <ion-item>
          <h1>230523-SP01</h1>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="senhasService.somaGeral()">Geral</ion-button>
      <br>
      <ion-button expand="block" (click)="senhasService.somaPrioritaria()">Prioritária</ion-button>
      <br>
      <ion-button expand="block" (click)="senhasService.somaExame()">Exame</ion-button>
    </ion-card-content>
  </ion-card>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
