<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="block" (click)="chamarService.proximaService()">CHAMAR</ion-button>
  <ion-card>
    <ion-card-content>
      <ion-list label="Últimas senhas:">
        <ion-item>2023 SG {{chamarService.somaGeral()}}</ion-item>
        <ion-item>2023 SP {{chamarService.chamarPrioritaria}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
