#down-toolbar-text{
    font-size: small;
  }
  
  #down-toolbar {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: fixed;
  }
  
  #toolbar-container {
    height: 30px;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    height: 300px;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }